1.Use a python code to display the following star pattern using the for loop

In [ ]:
rows = 5

for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

2.Use looping to output the elements from a provided list present at odd indexes.
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(1, len(my_list), 2):
    print(my_list[i])

20
40
60
80
100

3.Write a code that appends the type of elements from a given list.
Input
x = [23, ‘Python’, 23.98]
Expected output
[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
x = [23, 'Python', 23.98]
types_list = []

for element in x:
    types_list.append(type(element))

print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

4.Write a function that takes a list and returns a new list with unique items of the first list.
Sample List: [1,2,3,3,3,3,4,5]
Unique List: [1, 2, 3, 4, 5]

In [ ]:
def unique_list(input_list):
    unique_items = []
    for item in input_list:
        if item not in unique_items:
            unique_items.append(item)
    return unique_items

sample_list = [1, 2, 3, 3, 3, 3, 4, 5]
unique_result = unique_list(sample_list)
print("Sample List:", sample_list)
print("Unique List:", unique_result)

Sample List: [1, 2, 3, 3, 3, 3, 4, 5]
Unique List: [1, 2, 3, 4, 5]

5.Write a function that accepts a string and calculate the number of upper-case letters and lower-case
letters.
Input String: 'The quick Brow Fox'
Expected Output:
No. of Upper-case characters: 3
No. of Lower-case Characters: 12

In [ ]:
def count_case_characters(input_string):
    upper_count = 0
    lower_count = 0

    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

input_string = 'The quick Brow Fox'
upper, lower = count_case_characters(input_string)

print("Input String:", input_string)
print("No. of Upper-case characters:", upper)
print("No. of Lower-case Characters:", lower)

Input String: The quick Brow Fox
No. of Upper-case characters: 3
No. of Lower-case Characters: 12